* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "M PLUS 1p", serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
}

.block_white {
  padding: 180px 15px 180px 15px;
  margin: 0 auto;
}
.block_purple {
  background: #5E239D;
  padding: 180px 15px 180px 15px;
  margin: 0 auto;
}
.block_purple .sub-text {
  color: white;
}
.block_darkpurple {
  background: #30124E;
  padding: 180px 15px 180px 15px;
  margin: 0 auto;
}
.block_darkpurple .sub-text {
  color: white;
}

/* WHITE */
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1146px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-list-wrap p {
  font-size: 16.2px;
}
.section_purple, .section_darkpurple {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1146px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section_darkpurple {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-list-wrap_darkpurple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-list-wrap_darkpurple p {
  max-width: 290px;
  font-size: 16.2px;
}
.section-list_darkpurple {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  max-width: 1192px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .section-list_darkpurple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-list_darkpurple li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 362px;
  height: 362px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.section-list_darkpurple li:hover {
  background: #F61067;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.section-list_darkpurple li:hover::before {
  color: #FFFFFF;
}
.section .section-block {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 362px;
  height: 362px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.section .section-block:hover {
  border: 1px solid blue;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.section .section-block p {
  max-width: 290px;
  font-weight: 400;
}
.section-block_purple {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 362px;
  height: 362px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.section-block_purple:hover {
  background: #F61067;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.section-block_purple p {
  margin-top: 30px;
  max-width: 270px;
}

.sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 27px;
  font-weight: 400;
  max-width: 754px;
  padding-bottom: 40px;
  color: #30233D;
}

ol {
  counter-reset: my-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  height: 362px;
  position: relative;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ol li::before {
  content: "0" counter(my-awesome-counter) ". ";
  color: #F61067;
  font-weight: 900;
}

h1 {
  font-size: 12.6px;
  font-weight: 800;
  text-transform: uppercase;
  color: #F61067;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

h2 {
  font-size: 27px;
  font-weight: 500;
}

/* FOOTER */
.footer {
  background: #150433;
  color: #FFFFFF;
}
.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 64px 15px 64px 15px;
}
.footer_container {
  max-width: 1146px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
}
@media screen and (max-width: 750px) {
  .footer_container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 600px) {
  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer_container h5::after {
  content: "";
  display: block;
  width: auto;
  height: 1px;
  top: 3px;
  background: #F61067;
  position: relative;
}

.footer_name h4 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
  .footer_name h4 {
    padding-bottom: 5px;
  }
}
.footer_name p {
  font-size: 16.2px;
  font-weight: 400;
  width: 150px;
}
@media screen and (max-width: 750px) {
  .footer_name p {
    padding-bottom: 5px;
  }
}
.footer_name h5 {
  font-size: 12.6px;
  font-weight: 800;
}
@media screen and (max-width: 750px) {
  .footer_name h5 {
    padding-bottom: 5px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12.6px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 15px;
  margin-top: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navbar a:hover {
  color: #F61067;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navbar h5 {
  font-size: 12.6px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media screen and (max-width: 750px) {
  .navbar h5 {
    padding-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */