.Input {
    width: 300px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.InputLabel {
    color: #003366;
    font-size: 16px;
    font-weight: 500;
}
.InputInput {
    width: 280px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #cdf5db;
}