.card {
    display: flex;
    width: 75%;
    margin: 0 auto;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-btns {
    display: flex;
    flex-direction: column;
}

.card-btns button {
    font-size: 12px;
    background: none;
}