* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
}
input,select{
    border: 1px solid black;
    background: none;
    margin: 2px;
    padding: 0 5px 0 5px;
}

button {
    border: 1px solid black;
    background: none;
    margin: 2px;
    padding: 0 5px 0 5px;
    color: white;
    font-size: 16px;
}
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 2%;
    transform: translate(-50%, -50%);
    color: black;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.27);
}

.submit {
    color: black;
}

hr {
    margin: 10px 0 10px 0;
}