* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Montserrat", serif;
}

button {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    background: none;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
}

input {
    border: none;
    background: none;
    height: 30px;
    color: #fff;
    outline: none;
}

input:focus::placeholder {
    color: black;
}

::placeholder {
    color: #fff;
}

.form_countries {
    display: flex;
    gap: 10px;
}
.country_data {
    color: #4AF626;
}

.container {
    display: flex;
    /*width: 500px;*/
    justify-content: center;
    flex-direction: column;
}

.country_name {
    font-size: 24px;
}

.border_capital {
    font-size: 15px;
}

.weather_capital {
    font-size: 10px;
}