.button {
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.darkBlue {
    background-color: #005FDB;
    color: #fff
}

.lightBlue {
    background-color: #005FDB3D;
    color: #003366;
}
