* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito", serif;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url("../images/promo_bg.png");
  background-size: cover;
  width: 100%;
}
.header h1 {
  font-family: "Righteous";
  font-size: 19px;
  font-weight: 400;
  color: white;
}
.header span {
  color: #FFC839;
  font-weight: 400;
  font-family: "Righteous";
}
.header a {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header_nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
@media screen and (max-width: 750px) {
  .header_nav_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header_promo {
  color: white;
  max-width: 792px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.header_promo h2 {
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 400px) {
  .header_promo h2 {
    font-size: 40px;
  }
}
.header_promo h3 {
  font-weight: 400;
  font-size: 29px;
}
@media screen and (max-width: 400px) {
  .header_promo h3 {
    font-size: 20px;
  }
}

#hamburger-menu:checked ~ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input {
  opacity: 0;
  visibility: none;
}

#hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 750px) {
  #hamburger-menu {
    display: none;
  }
}

.burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  display: none;
}
@media screen and (max-width: 750px) {
  .burger {
    display: block;
  }
}

.hamburger-menu {
  padding-right: 15px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display-padding: 15px;
}
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo_card_container {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 800px) {
  .promo_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.promo_card {
  max-width: 400px;
  -webkit-box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.2901960784);
          box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.2901960784);
  height: 547px;
  width: 400px;
}
.promo_card:nth-child(1) {
  background: url("../images/stairs_card1.png");
}
.promo_card:nth-child(2) {
  background: red;
  background: url("../images/table_card2.png");
}
.promo_card:nth-child(3) {
  background: url("../images/hall_card3.png");
}
@media screen and (max-width: 900px) {
  .promo_card {
    width: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .promo_card {
    width: 200px;
    height: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.promo_card_footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background: white;
  width: 100%;
}
.promo_card_footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.housesale {
  padding-top: 100px;
  padding-bottom: 100px;
}
.housesale_image {
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .housesale_image {
    display: none;
  }
}
.housesale_image_square {
  position: absolute;
  background: #FFC839;
  z-index: -1;
  width: 450px;
  height: 450px;
  left: 58%;
  top: 1450px;
}
@media screen and (max-width: 900px) {
  .housesale_image_square {
    display: none;
  }
}
.housesale_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #323232;
}
.housesale_container_wrap {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.housesale h1 {
  font-weight: 600;
  font-size: 36px;
  color: #4A4A4A;
  padding-bottom: 50px;
}
.housesale h2 {
  font-weight: 400;
  font-size: 29px;
  color: #4A4A4A;
}
.housesale_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.housesale_row_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.book {
  background: #FFF5DA;
  text-align: center;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.book h1 {
  font-weight: 600;
  font-size: 36px;
}
@media screen and (max-width: 900px) {
  .book h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .book h1 {
    font-size: 18px;
  }
}
.book h2 {
  font-weight: 400;
  font-size: 29px;
  color: #646464;
}
@media screen and (max-width: 900px) {
  .book h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .book h2 {
    font-size: 14px;
  }
}

.search_bar {
  position: relative;
  border: 1px solid black;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
  max-width: 700px;
}
@media screen and (max-width: 900px) {
  .search_bar {
    max-width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .search_bar {
    max-width: 300px;
  }
}
.search_bar_button {
  background: #FFC839;
  border: none;
  padding: 0px 50px;
  height: 60px;
  font-weight: 400;
  font-size: 29px;
  font-family: "Nunito";
}
@media screen and (max-width: 500px) {
  .search_bar_button {
    padding: 0px 0px;
  }
}
.search_bar img {
  width: 40px;
  height: 30px;
}

.search {
  background: transparent;
  border: none;
  outline: none;
  width: 700px;
  height: 35px;
}

.ideas {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding-bottom: 128px;
}
.ideas h1 {
  font-weight: 600;
  font-size: 36px;
}
.ideas_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .ideas_grid {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .ideas_grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
  }
}

.footer {
  background: #093A7A;
  color: white;
}
.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .footer_row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.footer_col {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 30px 0 30px 0;
}
.footer_col_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer h1 {
  font-weight: 600;
  font-size: 24px;
}
.footer a {
  color: #CACACA;
  font-family: "Roboto", serif;
  font-weight: 400;
}
.footer h4 {
  font-family: "Righteous";
  font-size: 19px;
  font-weight: 400;
  color: white;
}
.footer span {
  color: #FFC839;
  font-weight: 400;
  font-family: "Righteous";
}
.footer_bottom {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer_bottom p {
  color: #CACACA;
  font-size: 11px;
  font-weight: 400;
  font-family: "Roboto", serif;
}/*# sourceMappingURL=style.css.map */