.Calculator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.success {
    color: rgb(0, 255, 0);
}

.error {
    color: red;
}

.waiting {
    color: white;
}