* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "proxima nova";
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0;
}

.header_container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .nav_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nav_text img {
  width: 24px;
}
.nav_text a {
  font-family: "Roboto";
  color: transparent;
  font-weight: 300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.nav_text a::before {
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0px;
  border-radius: 0px;
}
.nav_text a:hover::before {
  content: "";
  display: block;
  background: orange;
  width: 25px;
  margin: 0 auto;
  height: 3px;
  border-radius: 5px;
  position: relative;
  top: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav_text a span {
  font-weight: 700;
}

.btn {
  border: none;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  border-radius: 25px;
  padding: 15px;
  color: white;
  width: 160px;
  cursor: pointer;
}

.promo {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  height: 498px;
}
.promo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo_wrap_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 560px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  position: relative;
  top: 80px;
}
.promo_wrap_text span {
  font-weight: 1000;
}
.promo_wrap_text h1 {
  font-size: 44px;
  font-weight: 1000;
}
.promo_wrap_text p {
  font-size: 18px;
  font-weight: 100;
  max-width: 450px;
}
.promo img {
  max-width: 361px;
  width: 100%;
}

.search_bar {
  position: relative;
  top: 2em;
  background: orange;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}
.search_bar img {
  border-bottom: 2px solid white;
}

.search {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  border-bottom: 2px solid white;
  color: white;
}
.search::-webkit-input-placeholder {
  color: white;
}
.search::-moz-placeholder {
  color: white;
}
.search:-ms-input-placeholder {
  color: white;
}
.search::-ms-input-placeholder {
  color: white;
}
.search::placeholder {
  color: white;
}

.grid {
  display: grid;
  grid-template-areas: "sort_bar sort_bar sidebar" "courses courses sidebar" "pagination pagination sidebar";
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr 1fr));
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  color: white;
}

.courses {
  grid-area: courses;
}

.sort_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-area: sort_bar;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}
.sort_bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}
.sort_bar_wrap_show {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.course_card {
  background-color: #C4C4C4;
  height: 280px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.course_card h2 {
  font-size: 14px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.course_card h2 span {
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(32, 100%, 50%)), to(hsl(45, 100%, 50%)));
  background: linear-gradient(hsl(32, 100%, 50%), hsl(45, 100%, 50%));
  border-radius: 0px 10px 0px 10px;
  padding: 10px;
}
.course_card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 1000;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(32, 100%, 50%)), to(hsl(45, 100%, 50%)));
  background: linear-gradient(hsl(32, 100%, 50%), hsl(45, 100%, 50%));
  height: 70px;
  padding: 15px 0px 15px 30px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.sidebar {
  position: relative;
  top: 8px;
  color: #5C5C5C;
  grid-area: sidebar;
  display: grid;
  gap: 19px;
  height: 150px;
}
.sidebar .radio_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.sidebar span {
  border: 1px solid #C4C4C4;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.sidebar input {
  display: none;
}
.sidebar input[type=radio]:checked + span {
  background: orange;
  color: white;
}
.sidebar h3 {
  font-weight: 600;
  font-size: 18px;
}
.sidebar p {
  display: grid;
  font-size: 14px;
  font-weight: 300;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 50px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(18vw, 1fr));
  gap: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  grid-area: pagination;
}
.pagination button {
  background: none;
  cursor: pointer;
  border: 1px solid rgba(152, 152, 152, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
}
.pagination button:nth-child(5) {
  width: 100px;
}
.pagination button:hover {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #212121;
  color: white;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer_bar {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: 250px;
  gap: 50px;
}
.footer_bar:nth-child(3) {
  padding-top: 175px;
}
.footer_bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_bar h1 {
  font-weight: 700;
}
.footer_bar a {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reserved {
  background: #000;
  height: 40px;
  font-weight: 800;
  color: white;
}
.reserved_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.reserved_text span {
  color: #FFA500;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}/*# sourceMappingURL=styles.css.map */