.container {
  width: 1280px;
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  gap: 10px;
}

.inputs input {
    width: 18vw;
}

.search_result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.search_result-card {
  background-color: rgb(255, 255, 255, 0.85);
  width: 35vh;
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.search_result-img {
  background: gray;
  text-align: center;
  width: 35vh;
  height: 50vh;
}

.movie-img {
  background: gray;
  text-align: center;
  width: 55vh;
  height: 75vh;
}

.inputs_cmplt {
  height: 200px;
  overflow-y: auto;
  border: 1px solid white;
  margin-bottom: 20px;
}

.inputs_cmplt-el:hover {
  color: white;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.inputs_cmplt-el:hover {
  color: black;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.inputs_searchbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.movie-top {
  display: flex;
  gap: 10px;
  font-size: 24px
}

.movie-top-info {
  display: flex;
  flex-direction: column;
}

.movie-top-info .header {
  font-weight: 900;
  font-size: 36px;
}

.movie-top-info .body {
  font-weight: 800;
  font-size: 24px;
}

.search_result-card_bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}